@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color de body */
html {
  width: 100vw;
}

body {
  background-color: #292c3e;
  overflow-x: hidden;
  width: 100vw;
}

.main-contacto div, main section div, main div, main .section-cards .card-tres .fixture .titulo-card-tres, main .section-cards .card-dos .fixture .titulo-card-dos, main .section-cards .card-uno .fixture .titulo-card-uno {
  font-family: "EB Garamond", serif;
  color: #fafafa;
  text-align: center;
  margin-top: 20px;
}

main .section-cards .card-tres, main .section-cards .card-dos, main .section-cards .card-uno {
  border-radius: 8px;
  box-shadow: 0 0 10px #fafafa;
  overflow: hidden;
  width: 400px;
}

/* estilos header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100vw;
  background-color: #fafafa;
}
header .main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .main-header a .logo-qac {
  height: 100px;
  width: 100px;
  margin-left: 20px;
}
header .main-header a .titulo-header {
  text-align: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  color: black;
  padding: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #292c3e;
  font-size: medium;
  font-weight: bold;
}
header nav ul .botones-menu {
  background-color: #292c3e;
  margin: 10px;
  border-radius: 10%;
}
header nav ul .botones-menu .style-boton {
  color: #fafafa;
  font-size: medium;
}
header div nav div div ul .list-menu {
  background-color: none;
}
header div nav div div ul .list-menu .logo-qac {
  height: 100px;
  width: 100px;
  margin-left: 20px;
}

/* EstilO Footer */
footer .section-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
footer .section-footer .box-footer-1 a {
  display: inline-block;
  padding-left: 50px;
  padding-right: 40px;
}
footer .section-footer .box-footer-1 a img {
  width: 40px;
  height: 40px;
}
footer .section-footer .box-footer-2 {
  padding-left: 10px;
  padding-right: 40px;
}
footer .section-footer .box-footer-2 p {
  text-align: center;
  justify-content: center;
  color: aliceblue;
}
footer .section-footer .box-footer-3 {
  padding-right: 30px;
}
footer .section-footer .box-footer-3 p {
  text-align: center;
  justify-content: center;
  color: aliceblue;
}

/* estilo main inicio */
main .section-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
main .section-cards .card-uno {
  margin-left: 20px;
  margin-right: 20px;
}
main .section-cards .card-uno .fixture {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
main .section-cards .card-dos {
  margin-left: 20px;
  margin-right: 20px;
}
main .section-cards .card-dos .fixture {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
main .section-cards .card-tres {
  margin-left: 20px;
  margin-right: 20px;
}
main .section-cards .card-tres .fixture {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
/* estilo main galeria */
main .section-galeria {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  row-gap: 20px;
}
main .section-galeria .foto-galeria {
  width: 500px;
  padding: 5px;
}
main .section-galeria .foto-galeria img {
  width: 100%;
  height: auto;
}

/* estilo main historia */
main .foto-historia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .foto-historia img {
  width: 600px;
}
main .texto-historia {
  color: #01ebcf;
  font-family: "Open Sans", sans-serif;
  margin: 30px;
}
main .texto-historia p {
  text-align: center;
  border: 2px solid wheat;
  padding: 20px;
  font-size: medium;
}

/* estilo main contacto */
form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
form div label {
  color: #01ebcf;
  margin: 10px;
  text-align: justify;
}
form .estilo-sexo {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}

/* estilo main ubicacion */
div iframe {
  font-family: "Poppins", sans-serif;
  color: #e7c2c2;
  text-align: center;
  padding-top: 10px;
  text-decoration: underline;
}

@media (max-width: 995px) {
  main .section-cards {
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
  }
  main .section-cards .card-uno {
    width: 220px;
  }
  main .section-cards .card-uno .titulo-card-uno {
    font-size: 1rem;
  }
  main .section-cards .card-uno .texto-box-uno {
    font-size: x-small;
    padding: 10px;
  }
  main .section-cards .card-dos {
    width: 220px;
  }
  main .section-cards .card-dos .titulo-card-dos {
    font-size: 1rem;
  }
  main .section-cards .card-dos .texto-box-dos {
    font-size: x-small;
    padding: 10px;
    text-align: justify;
  }
  main .section-cards .card-tres {
    width: 220px;
  }
  main .section-cards .card-tres .titulo-card-tres {
    font-size: 1rem;
  }
  main .section-cards .card-tres .texto-box-tres {
    font-size: x-small;
  }
  footer .section-footer {
    grid-template-columns: 1fr;
    row-gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  footer .section-footer .box-footer-2 {
    padding: 0;
  }
  footer .section-footer .box-footer-2 p {
    font-size: small;
  }
  footer .section-footer .box-footer-3 {
    padding: 0;
  }
  footer .section-footer .box-footer-3 p {
    font-size: small;
    padding: 10px;
  }
}
@media (max-width: 525px) {
  header .main-header a .logo-qac {
    margin-left: 80px;
  }
  header .main-header .titulo-qac {
    display: none;
  }
}
@media screen and (max-width: 996px) {
  main .section-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
  }
  main .section-galeria .foto-galeria {
    width: 300px;
    align-items: center;
  }
}
@media (max-width: 996px) {
  main section .foto-historia img {
    width: 300px;
  }
}
@media (max-width: 550px) {
  .main-contacto form label {
    font-size: x-small;
  }
  .main-contacto form input {
    font-size: x-small;
  }
}
@media (max-width: 690px) {
  main div iframe {
    width: 200px;
  }
}/*# sourceMappingURL=main.css.map */