/* estilo main contacto */
.main-contacto{
    div{
        @extend %titulos;
    }
    }
    form{
        display: flex;
        flex-flow:column;
        align-items: center;
        justify-content: center;
        div{
            label{
                color: #01ebcf;
                margin: 10px;
                text-align: justify;
                
            }
        }
        .estilo-sexo{
                display:flex;
                flex-flow: wrap;
                justify-content: flex-start;
            }
        }
    

