/* estilo main galeria */

main{
    div{
        @extend %titulos;
        }
    section{
        display: grid;
        grid-template-columns: repeat(2,3fr);
        row-gap: 20px;
        .foto-galeria{
            width: 700px;
            padding: 5px;
            justify-content: center;
            align-items: center;
            img{
            width: 100%;
            height: auto    ;
            }
        }
    
    }       
}
