/* estilo main galeria */

main{
    div{
        @extend %titulos;
        }
    .section-galeria{
        display: grid;
        grid-template-columns: repeat(2,3fr);
        row-gap: 20px;
        .foto-galeria{
            width: 500px;
            padding: 5px;

            img{
            width: 100%;
            height: auto;
            }
        }
    
    }       
}
