/* estilo main inicio */
main{
    .section-cards{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        .card-uno{
            @extend %card;
            margin-left: 20px;
            margin-right: 20px;
            .fixture{
                width: 100%;
                
                border-bottom: 1px solid #ddd;
                .titulo-card-uno{
                    @extend %titulos;
                }
            }
        }
        .card-dos{
            @extend %card;
            margin-left: 20px;
            margin-right: 20px;
            .fixture{
                width: 100%;
               
                border-bottom: 1px solid #ddd;
                .titulo-card-dos{
                    @extend %titulos;
                }
            }
        }
        .card-tres{
            @extend %card;
            margin-left: 20px;
            margin-right: 20px;
            .fixture{
                width: 100%;
                border-bottom: 1px solid #ddd;
                .titulo-card-tres{
                    @extend %titulos;
                }
        }
    }


}
}
                
            

