%titulos{
    font-family: 'EB Garamond', serif;
    color: #fafafa;
    text-align: center;
    margin-top: 20px;

}

 %card{
    border-radius: 8px;
    box-shadow: 0 0 10px #fafafa;
    overflow: hidden;
    width: 400px;
    
 }