%titulos{
    font-family: 'Poppins', sans-serif;
    color: #e7c2c2;
    text-align: center;
    padding-top: 10px;

}

 %card{
    border-radius: 8px;
    box-shadow: 0 0 10px #ea90ff;
    overflow: hidden;
    width: 400px;
    
 }