@media screen and (max-width: 996px){
    main{
        .section-galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
        .foto-galeria{
            width: 300px;
            align-items: center;
        }
    }
    }
}