
@media (max-width: 995px){
    main{
        .section-cards{
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
        }
    }
    footer{
        .section-footer{
            grid-template-columns:1fr;
            row-gap: 50px;
            text-align: center;
            justify-content: center;
            align-items: center;
            .box-footer-3{
                p{
                margin-left: 100px;
                margin-right: 100px;
                }
            }
        }
    }
}

