/* EstilO Footer */
footer{
    background-color: #fafafa;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    div{
        a{
            .logos-footer{
                width:60px;
                height: 60px;
            }
        }
        a{
            .logos-footer{
                width:60px;
                height: 60px;
            }
        }
        a{
            .logos-footer{
                width:60px;
                height: 60px;
            }
        }
    }
}